{%  extends 'html.twig' %}

{% block container %}
  <div class="jumbotron text-center ">
        <h1 class="jumbotron-heading">{{ quiz.title }}</h1>
		{{ "GroupOfGroups: Login for SuperGroup"|t}}
  </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col">
             {% if error %}
                <div class="alert alert-danger" role="alert">
                        {{ 'Cannot login. Please check your credentials'|t }}
                </div>
            {% endif %}
        <form class="form-signin" action="{{ base_url }}" method="post">                
            <input type="text" id="institution" name="code" class="form-control" placeholder="{{ 'GroupOfGroups: Code'|t }}" required>                                                                                            
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="task" value="GroupOfGroups_Enter" style="margin-top:10px">{{ "Login"|t }}</button>   

        </form>


        </div>

     </div>
    

{% endblock %}
