{%  extends 'html.twig' %}

{% block container %}
  {% if not isadmin %}
      <form class="form-signin" enctype="multipart/form-data"  action="kepellenorzes.php" method="post">
            <label for="jelszo" class="sr-only">jelszó</label>
            <input type="password" id="jelszo" name="jelszo" class="form-control" placeholder="jelszó" required autofocus>
                                         
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:10px">Belépés</button>      
            
        </form>
  {% else %}

      <h1>Felügyeleti eszközök</h1>      
     
      <br/><h2>Ranglista</h2>
      <div id="accordion">
    <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
		Összesen: {{ jatekosok }} játékos
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Az aktuális pontszámokért és játékosok számáért katt ide
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
       
             <table id="ranglista" class="table table-striped table-bordered  table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Osztály</th>
                <th scope="col">Pont</th>
                <th scope="col">Játékos</th>
              </tr>
            </thead>
            <tbody>
                
              {% for rang in ranglista|slice( kezdo ,darab) %}      
                   <tr {% if rang.tanosztaly == user.tanosztaly %} class="table-success" {% endif %}}>
                    <th scope="row">{{ rang.rang  }}</th>
                    <td>{{ rang.tanosztaly }}</td>
                    <td>{{ rang.pont }}</td>      
                    <td>{{ rang.jatekos }}</td>      
                  </tr>
              {% endfor %}    
            </tbody>
          </table>
          
          
      </div>
    </div>
  </div>
  
</div>
      
   
      
      
<style>
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}</style>

      
      
      
      
      <br/><h2>{{ 'Questions that require manual attention'|t }}</h2>
      {% for kerdes in kerdesek %}
          <h2>{{ kerdes.id }}. kérdés: <small>{{ kerdes.question|striptags  }}</small></h2>
          {% if kerdes.answersToCheck is  empty  %}<div class="alert alert-info">{{ "There is nothing to check. But if you refresh the page, you could find new answers."|t }}</div>{% endif %}
          {{ kerdes.forAdmin }}
          {% for kep in kerdes.answersToCheck %}
          <div class="card" id="cardid{{ kep.id }}" data-id="{{ kep.id }}" >
            <div class="row no-gutters">
              <div class="col-md-8 col">
                  {% if kerdes.answer == '[file]' %}
                    <img src="{{ kep.valasz }}" class="card-img" >
                  {% else %}
                      <p style="padding:20px">{{ kep.valasz }}</p>
                  {% endif %}
              </div>
              <div class="col-md-4 col">
                <div class="card-body">
                  <h5 class="card-title">{{ users[kep.tanaz].tannev }} ({{ kep.tanosztaly }})</h5>
                  <p class="card-text"><small class="text-muted">{{ "Uploaded"|t }}: <span title="{{ kep.timestamp|date('Y-m-d H:i:s') }}">{{ kep.timestamp|time_diff }}</span></small></p>
                  <button type="button" class="action btn btn-success" data-action="ok" data-id="{{ kep.id }}">{{ "Accept"|t }}</button>
                  <button type="button" class="action btn btn-danger" data-action="no" data-id="{{ kep.id }}">{{ "Deny"|t }}</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <hr>
      {% endfor %}
  {%  endif %}
  
  {% endblock %}
  

{% block script %}
<script>
$(function() {
      
      $(document).on('click','.action',function(){
          
    var $this= $(this);

    var action = $(this).attr("data-action");
    var valaszid = $(this).attr("data-id");
    
    console.log("action: " + action + " id: " + valaszid);

    $.ajax({
       type:"POST",
       url:"kepellenorzes.php",
       data:"action="+action+"&id="+valaszid+"&auth={{ auth }}",
       success:function(response){
          console.log(response);
          $(response).hide();          
          
      }, 
    });
  
  });
  
  setInterval(function(){
     var list = $(".card").filter(":visible").map(function(){return $(this).attr("data-id");}).get();
     console.log(list);
        
        $.ajax({
       type:"POST",
       url:"kepellenorzes.php",
       data:"update=true&ids=" + list + "&auth={{ auth }}",
       success:function(response){
          console.log(response);
          $(response).hide();          
          
      }, 
    });
    
    
  
    }, 2000);

});
  </script>
   <script>$(document).ready(function () {
$('#ranglista').DataTable({
"searching": false, // false to disable search (or any other option)
"paging": false,
"order": [[ 3, "asc" ]]
});
$('.dataTables_length').addClass('bs-select');
});</script>
{%  endblock %}
