{%  extends 'html.twig' %}

{% block container %}   
    <form action="{{ base_url }}{{ quiz.id }}" enctype="multipart/form-data" method="post">
   
        
    <nav class="navbar dfixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="index.php">{{ quiz.title }}</a>
        {% if menu %}
            <span class="navbar-text">
                {% for title,url in menu %}
                    [<a href="{{ url }}">{{ title }}</a>] 
                {% endfor %}                
            </span>
        {% endif %}
        <span class="navbar-text">
        {{ user.name }} ({{ user.group }}{{ rankingTable[user.group].position ? ( " - " ~ rankingTable[user.group].position ~ ". " ~ "onPlace"|t ) }})
        <input type="hidden" name="tanaz" value="{{ user.tanaz }}">
        <input type="hidden" name="tanazonosito" value="{{ user.tanazonosito }}">        
        <a href="index3.php?task=logout">{{ "Logout"|t }}</a>
        </span>
        
    </nav>           
        <hr>
    <div class="row justify-content-center">
        <div class="col-mb-2 col">
            <a href="{{ base_url }}?admin=photos">Beküldött fotók elérhetőek itt!</a><br/>
            <p>Ilyenek a vezetőink</p>
            <img src="quizzes/wordcloud.jpg" class="img-fluid">
            <p>Ezt szeretem a Regnumban</p>
            <img src="quizzes/wordcloud_29.jpg" class="img-fluid">
            
            {% if quiz.short_description_html %}
                <div class="alert alert-primary">
                    {{ quiz.short_description_html|raw }}
                </div>
            {%  endif %}
            {% if config.debug %}
                <div class="alert alert-warning">Fejlesztői üzemmódban vagyunk. Sok valótlan tartalommal, meg csak úgy.</div>                
                {% for devMessage in devMessages %}
                    <div class="alert alert-warning">{{ devMessage | raw}}</div>
                {% endfor %}
            {% endif %}

    {% for question in quiz.questions %}
        {% if question.active == true or config.debug == true %}
            {% include 'question.twig' with question  %}          
        {% endif %}
    {% endfor %}
        
    {% if quiz.thereIsNoQuestion %}
        {% if quiz.nextQuestionTime %}         
            <div class="alert alert-info">{{ "QuizWillStart"|t }} <span title="{{ quiz.nextQuestionTime|date('Y-m-d H:i:s') }}">{{ quiz.nextQuestionTime|timeago }} ({{ quiz.nextQuestionTime|date('Y-m-d H:i') }})</span>.</div>           
        {% else %}
            <div class="alert alert-info">{{ "QuizEnded"|t }}</div>    
        {% endif %}
    {% else %}
        {% if quiz.nextQuestionTime %}         
            <div class="alert alert-info">{{ "NextQuestion"|t }} <span title="{{ quiz.nextQuestionTime|date('Y-m-d H:i:s') }}">{{ quiz.nextQuestionTime|timeago }}</span>.</div>           
        {%  else %}
            <div class="alert alert-info">{{ "NoMoreQuestion"|t }}</div>    
        {% endif %}
    {% endif %}
    
            
            
            
</div>
        {% if rankingTable %}
            <div class="col-lg-2">
                        {% include 'rankingTable.twig' %}                    
            </div>
        {% endif %}
            </div>
            
            </form>     

        
        {% if focusId %}
            <script>    
                window.onload = function (event) {
                    window.location.hash = "#{{ focusId }}";
                };
            </script>
        {% endif %}
{% endblock %}
{# empty Twig template #}
