{%  extends 'html.twig' %}

{% block container %}   
    <form action="{{ base_url }}{{ quiz.id }}" enctype="multipart/form-data" method="post">
   
        
    <nav class="navbar dfixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="index.php">{{ quiz.title }}</a>
        <span class="navbar-text">
        {{ user.name }} ({{ user.group }}{{ rankingTable[user.group].rank ? ( " - " ~ ranglista[user.tanosztaly].rang ~ ". helyen" ) }})
        <input type="hidden" name="tanaz" value="{{ user.tanaz }}">
        <input type="hidden" name="tanazonosito" value="{{ user.tanazonosito }}">        
        <a href="index3.php?task=logout">{{ "Logout"|t }}</a>
        </span>
        
    </nav>           
        <hr>
    <div class="row justify-content-center">
        <div class="col-mb-2 col">
  <!--
            <div class="alert alert-primary">A feladatok reggel kilenctől három percenként érkeznek majd és mindegyik fél órán keresztül lesz látható. Fogjatok össze, beszéljétek meg, és oldjátok meg minél többen!<br/>
                Találkozunk utána délben <a href="https://www.youtube.com/user/jezsuvideo/live">Jezsu YouTube csatornán</a>!</div>-->
            {% if development or config.debug %}
                <div class="alert alert-warning">Fejlesztői üzemmódban vagyunk. Sok valótlan tartalommal, meg csak úgy.</div>                
                {% for devMessage in devMessages %}
                    <div class="alert alert-warning">{{ devMessage | raw}}</div>
                {% endfor %}
            {% endif %}
            {% if config.debug %}
                <div class="alert alert-warning">A kérdések google sheet táblázatból legutóbb frissítve lettek: {{ csv_updated_at|timeago }}.</div>
            {% endif %}

	<!--<div class="alert alert-warning">Későn csatlakozott be az osztályod? Nem sikerült az első kérdésekre válaszolni? VAN REMÉNY! 11:05-kor tizenöt percre láthatóvá válik minden kérdés megint! Térjetek vissza!</div>-->

<!--
	 <div class="alert alert-info">
	{% if user.tanosztaly == '9A' %}Ne keseredjetek el! Ha hoztok még embert és nem csak hárman dolgoztok, akkor a végén talán újra megmutatjuk az első kérdéseket is, és akkor sokat lehet javítani a rangsoron!
	{% elseif user.tanosztaly == '10C' %}Ezaz! Mutassátok meg!
    {% elseif user.tanosztaly == '5B' %}Újra legnagyobb létszámmal! Gyerünk!
    {% elseif user.tanosztaly in ['5A','6A'] %}Majdnem (!) annyian vagytok mint az 5B. Meglesz!
	{% else %}
	Hívj még embert! Hajrá!
	{% endif %}
	</div>
-->
    {% if quiz.questions|length == 0 %}<div class="alert alert-info">{{ "There are no questions right now. Is it too early or too late?"|t }}</div>{% endif %}

    {% for question in quiz.questions %}
        {% include 'question.twig' with question  %}          
    {% endfor %}
        
  
            
            
            
</div>
        
        <div class="col-lg-2">
                    {% include 'rankingTable.twig' %}
                    
        </div>
            </div>
            
            </form>     

        
        {% if focusId %}
            <script>    
                window.onload = function (event) {
                    window.location.hash = "#{{ focusId }}";
                };
            </script>
        {% endif %}
{% endblock %}
{# empty Twig template #}
