{%  extends 'html.twig' %}

{% block container %}
  <div class="jumbotron text-center ">
        <h1 class="jumbotron-heading">{{ quiz.title }}sdsd</h1>
        {{ game.description|raw }}
  </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col">
             {% if development %}
                <div class="alert alert-primary">Kezdés csütörtökön reggel 9-kor!</div>               
            {% endif %}
             {% if error %}
                <div class="alert alert-danger" role="alert">
                        {{ 'Cannot login. Please check your credentials'|t }}
                </div>
            {% endif %}
        <form class="form-signin" action="index.php" method="post">
            <label for="tanaz" class="sr-only">tanaz</label>
            <input type="text" id="tanaz" name="tanaz" class="form-control" placeholder="{{ 'name'|t }}" value="{{ tanaz }}" required autofocus>
            <label for="tanazonosito" class="sr-only">tanazonosito</label>
            <input type="password" id="tanazonosito" name="tanazonosito" class="form-control" placeholder="{{ 'password'|t }}" required>            
                                         
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:10px">{{ 'Login'|t }}</button>      
            
        </form>


        </div>

     </div>
    
     <script>
         /* show file value after file select */
document.querySelector('.custom-file-input').addEventListener('change',function(e){
  var fileName = document.getElementById("inputGroupFile01").files[0].name;
  var nextSibling = e.target.nextElementSibling
  nextSibling.innerText = fileName
})
         </script>
{% endblock %}
