{% set allow = '<br><i><a><img><quote><blockquote><small>' %}
 
<div class="card mt-1" id="card{{ id }}">
    <div class="card-header">
      <h5 class="">
          {% if user_result >= 1 %}
                <svg class="bi bi-check-square-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="{{ user_result == 2 ? 'green' : 'yellow' }}" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>    
          {% elseif user_result == -1 %}
                <svg class="bi bi-x-square-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.854 4.854a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                </svg>  
          {% else %}
                <svg class="bi bi-question-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>
            {% endif %}
                                        
        <a class="btn btn-link" href="#" data-toggle="collapse" data-target="#kerdes{{ id }}" aria-expanded="true" aria-controls="kerdes{{ id }}">
            {{ id }}. kérdés</a> {% if prefix %}<small>- {{ prefix}}</small>{% endif %}
        
        {% if others.right > 0 and user_result == 2 %}<small id="input{{ id }}HelpBlock" class="text-muted">Már {{ others.right }} jó válasz jött másoktól. Segíts a maradéknak!</small>{% endif %}
        
        {% if config.debug == true %}
            <small style="float:right">Start: <span title="{{ startTime|date('Y-m-d H:i:s') }}">{{ startTime|timeago }}</span>. End: <span title="{{ endTime|date('Y-m-d H:i:s') }}">{{ endTime|timeago }}</span></small>
        {%  else  %}
            <small style="float:right">Eltűnik: <span title="{{ endTime|date('Y-m-d H:i:s') }}">{{ endTime|timeago }}</span></small>        
        {% endif %}
        
        
      </h5>
    </div>

    <div id="kerdes{{ id }}" class="collapse {{ user_result >= 1 ? 'collapsed' : 'show' }}" aria-labelledby="headingOne">
      <div class="card-body">
          
          {% if context %}<p class="text-justify"><strong>{{ context|striptags(allow)|raw }}</strong></p>{% endif %}
          {% if quote %}<blocquote>{{ quote|striptags(allow)|raw }}<strong></blockquote>{% endif %}
                  
          <p>{{ question|striptags(allow)|raw }}</p>
          
          {% if image %}<center><img src="{{ image }}" class="img-fluid" style="max-width: 400px; width:100%;" ></center>{% endif %}
          {% if video %}<center>{{ video_embed|raw }}</center>{% endif %}
          
          <p class="font-weight-light">{{ hint|striptags(allow)|raw }}</p>
          <hr />
          {% if messages %}
              {% for message in messages %}
                    <div class="alert alert-{{ message.0 }}">{{ message[1] }}</div>
               {% endfor %}
          {% endif %}
          
          <div class="input-group">              
            <label for="inputId{{ id }}" class="sr-only">{{ id }}. kérdés, {{ prefix }}</label>
                                 
            {% if inputType == 'select' %}
                {% if user_result < 2 %}
                    <select class="form-control {{ user_result == -1 ? 'text-danger' }}" name="questions[{{ id }}]" id="inputId{{ id }}">
                        <option value="">Válassz a lehetőségek közül...</option>
                        {% for option in options  %}
                              <option value="{{ option }}" {% if user_answer == option %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>                                
                {% else %} 
                    <input type="text" class="{{ user_result == 2 ? 'text-success' }}{{ user_result == -1 ? 'text-danger' }} form-control" name="kerdes[{{ id }}]" id="inputId{{ id }}" placeholder="" value="{{ user_answer }}" {{ user_result == 2 ? 'readonly'  }}>
                {% endif %}

             {% elseif inputType == 'file' %}   
                        {% if user_answer != "" %}
                            <img src="{{ user_answer }}" class="img-thumbnail mx-auto d-block">
                        {% endif %}
                        {% if user_result < 2 %}
                            <input  name="questions_{{ id }}"  type="file" id="inputId{{ id }}" />                                  
                        {% endif %}
                        {% if user_result == 1 %}
                                <!--<div class="input-group-append"><button class="btn btn-outline-primary" name="gomb" value="{{ id }}" type="submit">Újat küld be</button></div>-->          
                        {% endif %}
                
            {% elseif inputType == 'text' %}    
             
                <input type="text" class="{{ user_result >= 1 ? 'text-success' }}{{ user_result == -1 ? 'text-danger' }} form-control" name="questions[{{ id }}]" id="inputId{{ id }}" placeholder="" value="{{ user_answer}}" {{ ( user_result == 2  ) ? 'readonly'  }}>
            
            
            {% endif %}
            
                     
            
            {% if user_result < 2  %}
                <div class="input-group-append"><button class="btn btn-outline-primary" name="gomb" value="{{ id }}" type="submit">{{ user_result == 0 ? 'Beküld' : 'Javít'}}</button></div>          
            {% endif %}
          </div>
            {% if user_result == 1 %}
                <small id="input{{ id }}HelpBlock" class="form-text text-muted">Még le kell ellenőriznünk a válaszodat, de addig is megajánljuk a pontot.</small>
            {% elseif others %}
                {% if user_result < 1 and others.right > 0  %}
                    <small id="input{{ id }}HelpBlock" class="form-text text-muted">Már {{ others.right }} ember megoldotta ezt a feladványt. Kérj tőlük segítséget!</small>
                {% elseif user_result %}
                    {% if others.wrong > 0 %}
                        <small id="input{{ id }}HelpBlock" class="form-text text-muted">Még van {{ others.wrong }} ember, aki hibás választ írt. Segíts nekik!</small>
                    {% elseif others.right > 0 %} 
                        <small id="input{{ id }}HelpBlock" class="form-text text-muted">Már {{ others.right }} helyes válasz érkezett. Van még, aki nem válaszolt?</small>
                    {% endif %}
                {% endif %}
           {% endif %}
           
           {% if forAdmin and user.isadmin %}
               <small id="input{{ id }}HelpBlock" class="form-text text-muted">Adminisztrátoroknak: {{ forAdmin }}</small>
            {% endif %}
           
      </div>
    </div>
  </div>

