
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ "Group"|t }}</th>
      <th scope="col">{{ "Points"|t }}</th>
    </tr>
  </thead>
  <tbody>
      {% if ranglistaRovid %}
            {% if ranglista[user.tanosztaly].rang > ranglista|length -1 %}
                {% set kezdo = ranglista[user.tanosztaly].rang - 3 %}
            {% elseif ranglista[user.tanosztaly].rang > 1 %}
                {% set kezdo = ranglista[user.tanosztaly].rang - 2 %}     
            {% else %}
                {% set kezdo = ranglista[user.tanosztaly].rang - 1 %}
             {% endif %}
             {% set darab = 3 %}
       {% else %}
           {%  set darab = 40 %}
           {%  set kezdo = 0 %}
      {% endif %}
       
    {% for rank in rankingTable|slice( kezdo ,darab) %}      
         <tr {% if rank.name == user.group %} class="table-success" {% endif %}}>
          <th scope="row">
              {% if rank.position == 1 %}
                  <img src="templates/csillag.png" class="img-fluid" style="height:1.5em;">
              {% elseif rank.position == 2 %}
                  <img src="templates/pizza.png" class="img-fluid" style="height:1.5em;">
              {% elseif rank.position == 3 %}
                  <img src="templates/snack.png" class="img-fluid" style="height:1.5em;">                  
              {% else %}
                  {{ rank.position  }}
              {%  endif %}
                
          </th>
          <td>{{ rank.name }}</td>
          <td>{{ rank.points }}</td>      
        </tr>
    {% endfor %}    
  </tbody>
</table>
  <div class="text-muted"><small>Ikonok: <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> </small></div>
