{%  extends 'html.twig' %}

{% block container %}  
    <h1>{{ "Rankingtable"|t }}
        <small><small><small>
            {% for title,url in menu %}
                [<a href="{{ url }}">{{ title }}</a>] 
            {% endfor %}
        </small></small></small>
    </h1>    

    <h5 class="mb-0">
        Összesen: {{ players }} aktív játékos (aki legalább egy valamire legalább megpróbált válaszolni)        
    </h5>
       
    <table id="ranglista" class="table table-striped table-bordered  table-sm">
        <thead>
            <tr>
                {% for key,value in rankingTable|first %}
                    <th scope="col">{{ ( "header_" ~ key ) | t }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>           
            {% for place in rankingTable|slice( kezdo ,darab) %}
                <tr>
                    {% for col in place %}
                        <td>{{ col }}</td>
                    {% endfor %}    
                </tr>
            {% endfor %}    
        </tbody>
    </table>
  
            <p>{{ szavak }} </p>
        
    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>
{% endblock %}
  

{% block script %}
    <script>$(document).ready(function () {
        $('#ranglista').DataTable({
                "searching": false, // false to disable search (or any other option)
                "paging": true,
                "order": [[ 2, "desc" ]]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{%  endblock %}
